

services:
  db:
    ports:
      - "5432:5432"

  pgadmin:
    ports:
      - "5050:80"

  backend:
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      FRONTEND_URL: http://localhost:3100

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3100:3000"
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
    environment:
      - VITE_API_URL=http://localhost:8080
