name: CI - Tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout código
      uses: actions/checkout@v4
    
    - name: Configurar Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'
        cache: 'maven'
    
    - name: Dar permisos de ejecución a mvnw
      run: chmod +x backend/mvnw
    
    - name: Ejecutar tests
      run: |
        cd backend
        ./mvnw clean test
